* {
    font-family: sans-serif;
    /* font-family: Work Sans; */
}

body {
    margin: 0;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
    margin: 0 auto;

}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
}

.g3-title {
    font-weight: 700;
    font-size: 45px;
    width: 50%;
}

.navbar-items {
    width: 30%;
    display: flex;
    justify-content: space-around;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

.navbar-items p {
    display: flex;
    align-items: center;
}

/* hero section */

.hero-section {
    background-color: rgba(255, 144, 14, 0.1);
}

.hero-info {
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-top {
    margin: auto;
}

.hero-heading {
    margin: 0;
    margin-top: 50px;
    font-size: 64px;
    font-weight: 700;
    font-size: 64px;
    width: 862px;
    height: 225px;
}

.hero-para {
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    /* padding-top: 10px; */
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    width: 180px;
    height: 64px;
    padding: none;

}

.hero-image {
    display: flex;
    justify-content: center;
    width: 60%;

    margin: auto;
}

.hero-banner img {
    border-radius: 10px;
}

.hero-banner {
    width: 100%;
}

/* feature section */
.feature-section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/* image section */
.feature-image-section {
    width: 80%;
    margin: auto;
    padding-top: 50px;
    border-radius: 8px;
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */

}

.feature-image-section img {
    width: 342px;
    height: 342px;
    padding: 10px 10px;

}

/* info section */

.feature-info {
    width: 50%;
}

.feature-header {
    font-weight: 500;
    font-size: 45px;
}

.Q {
    color: #727272;
    font-weight: 500;
}

.feature {
    color: #FF900E;
}

/* feature description-section */

.feature-description-section {
    width: 80%;
    margin: 100px auto;
    display: flex;
}

.feature-left {
    width: 60%;
    margin-top: 100px;
}

.feature-details {
    /* margin-top: 100px; */
}

.feature-heading {
    margin: 0;
    /* margin-top: 30px; */
    font-size: 64px;
    font-weight: 700;
    font-size: 64px;
    /* width: 50%; */

}

.feature-details p {
    width: 100%;
}

.feature-heading {
    color: #131313;
    border-left: 5px solid #FF900E;
    margin-bottom: 50px;

}

.feature-more-info {
    width: 50%;

}

.feature-more-info h3 {
    color: #131313;
    font-weight: 600;
    font-size: 20px;

}

.feature-more-info p {

    margin: 50px 0;
}

.feature-description-image img {
    width: 100%;
}

/* button section */
.ten-year-button {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    width: 342px;
    height: 190.18px;

}

#ten-year {
    font-weight: 700;
    font-size: 65px;
}

/* ------- */

.some-fact {
    width: 80%;
    margin: auto;
}

.sponsor-parts {

    display: flex;
    justify-content: space-around;
    margin: 100px 0;

}

.sponsor-part1,
.sponsor-part2,
.sponsor-part3,
.sponsor-part4 {
    border: 1px solid #FF900E;
    border-radius: 8px;
    width: 241.83px;
    height: 241.83px;
    text-align: center;
}

.number {
    color: #424242;
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 0;
}

.para {
    margin-top: 0;
    color: #727272;
    font-weight: 600;
    font-size: 20px;
}
/* animation */
.animation:hover{
    transform: rotate(-60deg);
    transition: transform 0.2s ease-in;
}
/* --------- */

/* our sponsor part */
.last {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.last-image {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;

}

/* footer part */
.footer {
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
    background: #FFF4E7;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #424242;
    font-weight: 400;
font-size: 20px;
    
}




/* sponsor part responsive */
@media screen and (max-width:576px) {
    .sponsor-parts {
        display: block;
        flex-direction: row;
    }
    .sponsor-part1,
    .sponsor-part2,
    .sponsor-part3,
    .sponsor-part4 {
        margin: 10px 0;
        width: 50%;
    }

    .paras {
        width: 50%;
    }
}

/* last image part responsive */

@media screen and (max-width:576px) {
    .last-image, .footer, .last{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: space-evenly; */
        margin: 10px 0;
    }
    .last h2{
        width: 50%;
        margin: auto 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .last-image img{
        margin-bottom: 30px;
    }
}


    
