* {
    margin: 0;
    font-family: sans-serif;
    /* font-family: Work Sans; */
    /* margin: 0 auto; */
}
/* header section stylling */

.body{
    margin: 0 auto;
}

.header-first-section{
    display: grid;
    /* grid-template-columns: repeat(2,2fr); */
    grid-template-columns: 1fr 2fr;
    justify-content: space-around;
}
.title-g3 {
    
    font-weight: 700;
    font-size: 45px;
    width: 302px;
    height: 53px;
    color: #131313;
    margin-left: 228px;
    margin-top: 55px;
    
}

.header-list-home {
    font-weight: 500;
    font-size: 18px;
    /* text-decoration: none; */
    /* margin-right: 300px; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-between;
    margin-top: 63px;
    margin-left: 450px;
    
}

/* second header section */
.header-sec-section{
    background: rgba(255, 144, 14, 0.1);
    margin-top: 150px;
    display: grid;
    place-items: center;
    margin-left: 30px;
    color: #FF900E1A 10%;
    /* align-items: center; */
}
.header-info{
    text-align: center;
    margin-left: 449px;
    
}
.title-brand{
    color: #131313;
    text-align: center;
    font-weight: 700;
    font-size: 64px;
    width: 862px;
    height: 225px;
    
}
.header-des{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding-bottom: 33px;
    padding-right: 450px;
}
.button{
    
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border-color: white;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    width: 180px;
    height: 64px;
    margin-right: 450px;

}
.header-image{
    border-radius: 8px;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* @media screen and(max-width:576px) {
    .header-sec-section{
        font-size: 10vm;
        grid-template-columns: repeat(1,1fr);
    }

} */


/* third section stylling */
.header-third-sec{

    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.image-third-sec{
    margin-left: 271px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* overflow: hidden; */
    /* position: relative; */
    gap: 25px;
    border-radius: 8px;
    width: 342px;
    height: 342px;
}
.third-sec-info{
    margin-left: 250px;
}

/* header */
.third-sec-header{
    font-weight: 700;
    font-size: 45px;
    width: 468px;
    height: 106px;
}
.Q{
    color: #727272;
    font-weight: 500;
}
.feature{
    color: #FF900E;

}
/* end header */
.third-sec-para{
    margin-top: 26px;
    color: #727272;
    font-weight: 400;
    font-size: 16px;
    width: 537px;
    height: 78px;
}

/* ten year section  */

.tenyear-section{
    margin-top: 170px;

}